rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow uploads and downloads only for signed-in users
      allow read, write: if request.auth != null;
    }
  }
}
